@charset "UTF-8";

:root {
  --green: #49a09d;
  --purple: #5f2c82;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body,
html {
  background-color: var(--purple);
  height: 100svh;
  width: 100svw;
}

main {
  position: relative;
  height: 100svh;
  width: 100svw;
}

img {
  max-width: 100%;
}

/* Mobile */
.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  width: 250px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  overflow: hidden;

  transition: width 100ms, height 500ms;
  transition-timing-function: ease;
}

.home__image {
  display: block;
  overflow: hidden;
  height: 200px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__content {
  display: block;
  padding: 10px;
}

.login-title {
  text-align: center;
  margin-bottom: 10px;
}

.login-welcome {
  font-size: 0.8em;
}

/* Tablets */

@media screen and (min-width: 768px) {
  body {
    background-image: linear-gradient(to top, var(--green), var(--purple));
  }

  .home {
    width: 80svw;
    max-width: 950px;
    height: 280px;
  }

  .home__image {
    float: left;
    width: 30%;
    height: 100%;
  }

  .home__content {
    float: right;
    width: 70%;
  }
}

/* Desktops */
@media screen and (min-width: 1024px) {
  .home {
    height: 350px;
  }

  .home__image {
    float: left;
    width: 50%;
    height: 100%;
  }

  .home__content {
    float: right;
    width: 50%;
  }

  .login-title {
    font-size: 2em;
  }

  .login-welcome {
    font-size: 1em;
  }
}
