@charset "UTF-8";

:root {
  --green: #49a09d;
  --green-shade: #2d6462;
  --green-light: #94cfcd;
  --green-lighter: #6cd3cf;
  --purple: #5f2c82;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body,
html {
  background-color: var(--purple);
  height: 100svh;
  width: 100svw;
}

main {
  position: relative;
  height: 100svh;
  width: 100svw;
}

img {
  max-width: 100%;
}

/* Mobile */
.home {
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: white;
  width: 250px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  overflow: hidden;

  transform: translate(-50%, -50%);
  transition: width 100ms, height 500ms;
  transition-timing-function: ease;
}

.home__image {
  display: block;
  overflow: hidden;
  height: 200px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__content {
  display: block;
  padding: 10px;
}

.login-title {
  text-align: center;
  margin-bottom: 10px;
}

.login-welcome {
  font-size: 0.8em;
}

.login-form__field {
  display: flex;
  justify-content: space-around;

  background-color: var(--purple);
  height: 40px;
  border-radius: 5px;
  margin: 5px auto;
}

.login-form__field .material-icons {
  color: white;
  font-size: 2em;
  width: 40px;
  padding: 5px;
}

.login-form__field--input {
  background-color: var(--green-light);
  font-size: 1em;
  width: calc(100% - 50px);
  border: 0;
  border-radius: 5px;
  margin: 3px;
}

.login-form__field--input:focus-within {
    background-color: white;
}

.login-form__submit {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;

  background-color: var(--green);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: background-color 300ms ease;
}

.login-form__submit:hover {
  background-color: var(--green-shade);
}

.login-form__forgot {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  margin-top: 5px;

  text-align: center;
  text-decoration: none;
  color: var(--green-shade);
  border: 1px solid var(--green);
  border-radius: 5px;

  transition: background-color 300ms, color 300ms;
  transition-timing-function: ease;
}

.login-form__forgot:hover {
  background-color: var(--green-lighter);
  color: white;
}

/* Tablets */

@media screen and (min-width: 768px) {
  body {
    background-image: linear-gradient(to top, var(--green), var(--purple));
  }

  .home {
    width: 80svw;
    max-width: 950px;
    height: 280px;
  }

  .home__image {
    float: left;
    width: 30%;
    height: 100%;
  }

  .home__content {
    float: right;
    width: 70%;
  }
}

/* Desktops */
@media screen and (min-width: 1024px) {
  .home {
    height: 350px;
  }

  .home__image {
    float: left;
    width: 50%;
    height: 100%;
  }

  .home__content {
    float: right;
    width: 50%;
  }

  .login-title {
    font-size: 2em;
  }

  .login-welcome {
    font-size: 1em;
  }
}
